[submodule "worldmods/mail_mod"]
	path = dev/worldmods/mail
	url = https://github.com/mt-mods/mail
[submodule "worldmods/mtui_mod"]
	path = dev/worldmods/mtui_mod
	url = https://github.com/minetest-go/mtui_mod
[submodule "dev/worldmods/skinsdb"]
	path = dev/worldmods/skinsdb
	url = https://github.com/minetest-mods/skinsdb/
[submodule "dev/worldmods/xban2"]
	path = dev/worldmods/xban2
	url = https://github.com/minetest-mods/xban2
[submodule "dev/worldmods/monitoring"]
	path = dev/worldmods/monitoring
	url = https://github.com/minetest-monitoring/monitoring
