[submodule "worldmods/mail_mod"]
	path = dev/worldmods/mail_mod
	url = https://github.com/minetest-mail/mail_mod
[submodule "worldmods/mtui_mod"]
	path = dev/worldmods/mtui_mod
	url = https://github.com/minetest-go/mtui_mod
[submodule "dev/worldmods/skinsdb"]
	path = dev/worldmods/skinsdb
	url = https://github.com/minetest-mods/skinsdb/
