version: "3.6"

services:
 ui_webapp:
  image: node:19.2.0-alpine3.15
  volumes:
   - "./:/app"
  working_dir: /app/public
  command: ["npm", "ci"]

 ui:
  image: golang:1.21.0
  environment:
   WORLD_DIR: "/root/.minetest/worlds/world"
   WEBDEV: "true"
   API_KEY: "mykey"
   LOGLEVEL: debug
   SERVER_NAME: "dev-server"
   ENABLE_FEATURES: "shell,luashell,minetest_config,docker,modmanagement"
   MINETEST_CONFIG: "/etc/minetest/minetest.conf"
   DOCKER_MINETEST_CONFIG: "${PWD}/minetest.conf"
   DOCKER_MINETEST_PORT: 30000
   DOCKER_NETWORK: "mtui_default"
   DOCKER_WORLD_DIR: "${PWD}/dev/world"
   DOCKER_MINETEST_CONTAINER: "mtui_engine"
  ports:
    - 8080:8080
  volumes:
   - "${PWD}/dev/world:/root/.minetest/worlds/world"
   - "./minetest.conf:/etc/minetest/minetest.conf"
   - "./:/app"
   - "go_dir:/go"
   - "go_cache:/.cache"
   - "/var/run/docker.sock:/var/run/docker.sock:ro"
  working_dir: /app
  command: ["go", "run", "."]
  
volumes:
  go_cache: {}
  go_dir: {}