version: "3.6"

services:
 minetest:
  image: registry.gitlab.com/minetest/minetest/server:5.7.0
  user: root
  volumes:
    - "minetest_home:/root/.minetest"
    - "./dev/worldmods:/root/.minetest/worlds/world/worldmods"
    - "./minetest.conf:/etc/minetest/minetest.conf"
  ports:
    - "30000:30000/udp"

 ui_webapp:
  image: node:19.2.0-alpine3.15
  volumes:
   - "./:/app"
  working_dir: /app/public
  command: ["npm", "ci"]

 ui:
  image: golang:1.20.5
  environment:
   WORLD_DIR: "/root/.minetest/worlds/world"
   WEBDEV: "true"
   API_KEY: "mykey"
   LOGLEVEL: debug
   ENABLE_FEATURES: "mail,shell,luashell,xban,monitoring,minetest_config"
   MINETEST_CONFIG: "/etc/minetest/minetest.conf"
  ports:
    - 8080:8080
  volumes:
   - "minetest_home:/root/.minetest"
   - "./dev/worldmods:/root/.minetest/worlds/world/worldmods"
   - "./minetest.conf:/etc/minetest/minetest.conf"
   - "./:/app"
   - "go_cache:/root/.cache"
   - "go_dir:/root/go"
   - "/var/run/docker.sock:/var/run/docker.sock:ro"
  working_dir: /app
  command: ["go", "run", "."]
  

volumes:
  minetest_home: {}
  go_cache: {}
  go_dir: {}