version: "3.6"

services:
 ui_webapp:
  image: node:22.11.0
  volumes:
   - "./:/app"
  working_dir: /app/public
  command: ["npm", "ci"]

 ui:
  image: golang:1.23.2
  environment:
   WORLD_DIR: "/world"
   WEBDEV: "true"
   API_KEY: "mykey"
   LOGLEVEL: debug
   SERVER_NAME: "dev-server"
   DEFAULT_THEME: "darkly"
   ENABLE_FEATURES: "shell,luashell,minetest_config,docker,modmanagement,signup,chat,minetest_web"
   FILEBROWSER_URL: "http://filebrowser/"
   INSTALL_MTUI_MOD: "true"
   MINETEST_CONFIG: "/world/minetest.conf"
   GEOIP_API: "https://hosting.minetest.ch/api/geoip"
   DOCKER_MINETEST_CONFIG: "${PWD}/minetest.conf"
   DOCKER_MINETEST_PORT: 30000
   DOCKER_HOSTNAME: "ui"
   DOCKER_NETWORK: "mtui_default"
   DOCKER_WORLD_DIR: "/var/lib/docker/volumes/mtui_world_dir/_data"
   DOCKER_CONTAINER_PREFIX: "mtui"
   DOCKER_AUTOINSTALL_ENGINE: "true"
  ports:
    - 8080:8080
  volumes:
   - "./minetest.conf:/world/minetest.conf"
   - "./:/app"
   - "world_dir:/world"
   - "go_dir:/go"
   - "go_cache:/.cache"
   - "/var/run/docker.sock:/var/run/docker.sock:ro"
  working_dir: /app
  command: ["go", "run", "."]
  
 filebrowser:
  image: filebrowser/filebrowser:v2.31.2
  ports:
    - 8081:80
  environment:
    FB_DATABASE: /database/filebrowser.db
    FB_BASEURL: /filebrowser
    FB_NOAUTH: "true"
  volumes:
    - world_dir:/srv
    - filebrowser_db:/database

volumes:
  go_cache: {}
  go_dir: {}
  world_dir: {}
  filebrowser_db: {}